@media (prefers-reduced-motion: no-preferece) {
    :root {
        scroll-behavior: inherit;
    }
}

.scroll {
    scroll-behavior: smooth;
}

::selection {
    color: #fff;
    background: #e51c24;
}

a {
    text-decoration: none;
    color: #2f4858;
    transition: 0.3s;
}

body {
    box-sizing: border-box;
}

.section-wrapper {
    overflow-x: hidden;
}

.bg-one {
    background-color: #f5ebe6;
}

.section-padding {
    padding: 80px 0;
}

#preLoader {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    animation: preloader 1s 1s linear forwards;
    background-color: #fff;
}