@media (prefers-reduced-motion: no-preferece) {
    :root {
        scroll-behavior: inherit;
    }
}

.scroll {
    scroll-behavior: smooth;
}

::selection {
    color: #fff;
    background: #e51c24;
}

a {
    text-decoration: none;
    color: #2f4858;
    transition: 0.3s;
}

body {
    box-sizing: border-box;
}

.section-wrapper {
    overflow-x: hidden;
}

.bg-one {
    background-color: #071013;
}

.section-padding {
    padding: 80px 0;
}

#preLoader {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    animation: preloader 1s 1s linear forwards;
    background-color: #fff;
}

.badge-text {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #c27b7f;
    font-weight: 600;
    display: inline-block;
}

.button {
    pointer-events: auto;
    cursor: pointer;
    background-color: #e51c24;
    color: #fff;
    border: none;
    align-items: center;
    padding: 10px 50px;
    line-height: 30px;
    margin: 0;
    position: relative;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .button {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }

.button:hover {
    color: #fff;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button__primary {
    border-radius: 3px;
    overflow: hidden;
    color: #fff;
    background: #f14951;
}

.button__primary::before {
    content: '';
    background: #e51c24;
    width: 125%;
    left: -12%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button__primary span {
    position: relative;
}

.button__primary:hover::before {
    transform: translate3d(100%, 0, 0);
}

.circle {
    width: 7px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    opacity: 0.3s;
    border-width: 5px;
    border-style: solid;
    border-color: #f14951;
}

.x1 {
    animation: movecircles 50s linear infinite;
    top: 150px;
}

.x2 {
    left: 200px;
    top: 200px;
    transform: scale(0.6);
    animation: movecircles 65s linear infinite;
}

.x3 {
    left: -250px;
    bottom: 250px;
    transform: scale(0.8);
    animation: movecircles 70s linear infinite; 
}

.x4 {
    left: 470px;
    bottom: 300px;
    transform: scale(0.75);
    animation: movecircles 75s linear infinite; 
}

.x5 {
    left: -150px;
    bottom: 350px;
    transform: scale(0.8);
    animation: movecircles 80s linear infinite; 
}

.x6 {
    left: 300px;
    bottom: 400px;
    transform: scale(0.8);
    animation: movecircles 85s linear infinite; 
}

.x7 {
    left: -300px;
    bottom: 450px;
    transform: scale(0.6);
    animation: movecircles 90s linear infinite; 
}

[class*='section-title-'] {
    margin-bottom: 50px;
}

[class*='section-title-'] span {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e51c24;
    font-weight: 600;
    display: inline-block;
}

[class*='section-title-'] h2 {
    margin-top: 0px;
}

.section-title-center p {
    margin: 0 auto;
}

.section-divider {
    margin-top: 20px;
}

.divider-triangle {
    width: 200px;
    border-width: 1px;
    border-color: #e51c24;
    opacity: 0.4;
    position: relative;
    display: inline-block;
}

.divider-triangle::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #e51c24;
    top: -9px;
    opacity: 0.4;
    right: 50%;
    transform: rotate(45deg);
}

.divider-triangle::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: #e51c24;
    top: -9px;
    opacity: 0.4;
    left: 45%;
    transform: rotate(45deg);
}

.translateEffect2 {
    transition: all 0.3s;
}

.translateEffect2:hover {
    transform: translateY(-5px);
}

.btn__secondary {
    position: relative;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    color: #e51c24;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn__secondary svg {
    font-size: 20px;
    margin-right: 5px;
}

.btn__secondary::before,
.btn__secondary::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #e51c24;
    transition: all 0.5s ease;
}

.btn__secondary::before {
    top: 0;
    left: 0;
    border-right: none;
}

.btn__secondary::after {
    top: 0;
    right: 0;
    border-left: none;
}

.btn__secondary::before,
.btn__secondary::after {
    width: 100%;
}

.btn__secondary:hover {
    text-decoration: none;
    background: #e51c24;
    color: #fff;
    transition-delay: 0.35s;
}

.btn__secondary.btn-small {
    padding: 4px 20px;
}

.link {
    font-weight: 600;
    position: relative;
    color: #e51c24;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
}

.link svg {
    position: relative;
    margin-left: 4px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
}

.link:hover {
    color: #f14951;
}

.link:hover svg{
    margin-left: 6px;
}

.social-icon {
    padding-left: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.social-icon li {
    list-style: none;
}

.social-icon li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #e51c24;
    color: #fff;
    transition: all 0.5s;
    box-shadow: 3px 3px #f14951;
}

.social-icon li a:hover {
    background-color: #f14951;
    box-shadow: none;
}

@media screen and (max-width: 320px) {
    .social-icon li a {
        width: 30px;
        height: 30px;
    }
}

.social-icon li a svg {
    font-size: 20px;
}

@media screen and (max-width: 320px) {
    .social-icon li a svg {
        font-size: 15px;
    }
}
